<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" th:href="@{bootstrap/css/bootstrap.min.css}">
<style>
    h1{
        margin-top: 20px;
        text-align: center;
    }
    div{
        border: 1px solid;
        display: inline-block;
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
    table{
        margin: auto auto;
    }
    td{
        height: 40px;
        width: 200px;
        text-align: center;
    }
</style>
<body>
<h1>要交的作业</h1>
<div class="border border-primary" th:each="publish_homework:${publish_homeworks}">
    <table>
        <tr><td>作业名称:</td><td th:text="${publish_homework.getPh_name()}">springboot3班</td></tr>
        <tr><td>作业发布日期:</td><td th:text="${publish_homework.getRiqi()}">XXXXXXX</td></tr>
        <tr>
            <td><a class="btn btn-primary" th:href="@{/detailhomework(ph_id=${publish_homework.getPh_id()},user_id=${user.getUser_id()})}">提交/修改作业</a></td>
        </tr>
    </table>
</div>
<script th:inline="javascript">
</script>
</body>
</html>