<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" th:href="@{bootstrap/css/bootstrap.min.css}">
<style>
    h1{
        margin-top: 20px;
        text-align: center;
    }
    div{
        border: 1px solid;
        display: inline-block;
        margin: auto auto;
        margin-top: 20px;
    }
    table{
        margin: auto auto;
        margin-top: 20px;
    }
    td{
        height: 40px;
        width: 200px;
        text-align: center;
    }
</style>
<body>
    <form action="/submithomework">
        <table>
            <tr><td>作业标题</td></tr>
            <tr><td th:text="${publish_homework.getPh_name()}">实验一</td></tr>
            <tr><td>作业内容</td></tr>
            <tr><td th:text="${publish_homework.getPh_content()}">请根据</td></tr>
            <tr><td>回答问题</td></tr>
            <input th:name="ph_id" name="ph_id" style='display:none' th:value="${publish_homework.getPh_id()}">
            <input th:name="user_id" name="user_id" style='display:none' th:value="${user.getUser_id()}">
            <input th:name="class_id" name="class_ix" style='display:none' th:value="${publish_homework.getClass_id()}">
            <input th:name="sub_file" name="sub_file" style='display:none' >
<!--            <tr><td><input th:name="" name="" type="hidden" th:value=""></td></tr>-->
            <tr><td><textarea class="form-control" type="text" th:utext="${submit_homework.getSub_content()}" th:name="sub_content" name="sub_content" style="width:500px ; height:400px"></textarea></td></tr>
            <tr><td><input class="btn btn-primary" type="submit" value="提交作业"></td></tr>
        </table>
    </form>
<script th:inline="javascript">
    var d = new Date();
    var now1 = d.toLocaleDateString();
    var now2 = d.toLocaleTimeString();
    console.log(now1);
    document.getElementById("sub_dat").value =now1 + " " + now2;
</script>
</body>
</html>