<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <table>
        <tr><td>作业内容</td></tr>
        <tr><td>XXXXXXXX</td></tr>
        <tr><td>答题：</td></tr>
        <tr><td><textarea style="width:500px; height:200px"></textarea></td></tr>
        <tr><td>作业题目文件</td></tr>
        <tr><td><input type="file"></td></tr>
        <tr><td>上传作业文件答案</td></tr>
        <tr><td><input type="file"></td></tr>
        <tr><td><input type="submit" value="发布作业"></td></tr>
    </table>
</form>
</body>
</html>