<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>加入班级</title>
</head>
<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" th:href="@{bootstrap/css/bootstrap.min.css}">
<style>
    *{
        margin:0px 0px;
        padding:0px 0px;
    }

    form{
        margin: auto auto;
        margin-top: 20px;
    }

    table{
        margin: auto auto;
    }

    td{
        width: 200px;
        height: 40px;
    }

    h1{
        margin-top: 20px;
        text-align: center;
    }
</style>
<body>
<h1>加入班级</h1>
<form action="/gojoin_class" onsubmit="return gocreate_class()">
    <table>
        <tr><td>加入班级的编号</td></tr>
        <tr><td><input class="border border-primary form-control" type="text" name="class_id"></td></tr>
        <tr><td>加入班级的密码</td></tr>
        <tr><td><input class="border border-primary form-control" type="password" name="class_password"></td></tr>
        <tr><td><input type="submit" class="btn btn-primary" value="加入班级"></td></tr>
    </table>
</form>
</body>
<script th:inline="javascript">
    function gocreate_class() {
        if(confirm("是否确认提交")){
            alert("创建成功!");
            return true;
        }
        return false;
    }
</script>
</html>